.links-container{
    display:flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(223, 219, 219, 0.575);
    padding: 20px;
    overflow:-moz-hidden-unscrollable;
    height: 50vh;
    scroll-behavior: smooth;
}
.projects-container h1{
    margin: 20px;
}
