.projects-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.links{
    color: black;
    font-size:smaller;
    border: none;
    background-color: whitesmoke;
}
.links:hover{
    cursor: pointer;
    color: rgb(80, 9, 9);
}
.links:active{
    cursor: pointer;
    color: rgb(110, 25, 25);
}