.home{
    text-align: center;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    /* background-color: brown; */
    color:rgb(3, 3, 3);
    margin: 20px;
}

.home p{
    font-size: smaller;
    width: 800px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.home h1{
    color:black;
}