body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.App {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  *{
    margin: 0%;
    padding: 0%;
  }
  
  .bg{
    width: 100vw;
    height: 100vh;
    background-position: center;
    /* background-color: blue; */
    background-image:url("/src/Images/abstract-pastel-memphis-patterned-background-vector_53876-140331.webp");
    /* background-blend-mode:soft-light; */
    background-size: cover;
    background-blend-mode:lighten;
    
    /* object-fit:cover; */
  }

  .navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(245, 245, 245, 0.603); */
    background-color: rgba(207, 202, 202, 0.603);
    height: 10%;
    width: 100vw;
    margin: 10px;
  }
  
  .header{
    min-height:10%;
    width: 100vw;
    background-color: rgba(207, 202, 202, 0.603);
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px;
  }

  .header h1 {
    padding-right: 20px;
  }

  .links-container{
    display: flex;
    overflow:scroll;
  }

